body{
  font-family: sans-serif;
  background-color: #15e89e;
  font-size: 35px;
  
}
p img{
    width: 450px;
}
ul{
    color: #81ff02;
}
 
header{
    text-align: center;
    background-color: #fcf400;
    padding: 25px;
}

a{
    color: #d105f5;
    background-color: white;
    padding: 5px;
}
li{
    margin-bottom: 15px;
}

main{
    text-align: center;
}

footer{
    background-color:  #ff4d4d;
    padding: 15px;
}
ul{
    color: black;
}
